.login-page-container {
    display: flex;
    flex-direction: column; /* Update to vertical direction */
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-page-container form label {
    margin-bottom: 10px; /* Add margin between labels */
  }
  